<div class="container">
<h1>Greeter#hello</h1>
<p>Find me in app/views/greeter/hello.html.erb</p>


<br>
<br>

	<h2>Simple Collapsible</h2>
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
	<div id="demo" class="collapse">
	 Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>
<br><br>
	<div class="dropdown">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><a href="#">HTML</a></li>
	    <li><a href="#">CSS</a></li>
	    <li><a href="#">JavaScript</a></li>
	  </ul>
	</div>
<br>
<br>

</div>